body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    background-color: #333;
}

.main {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 1024px;
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: transparent;
}

.links>a {
    padding-right: 6px;
    font-size: 17px;
    font-weight: 100;
    text-decoration: none;
    color: #333333d3;
    transition: 0.3s;
}

.links>a:hover {
    color: black;
    font-size: 19px;
}

.links {
    padding-top: 20px;
    padding-right: 30px;
}

.icon-link {
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.moon-icon {
    padding-left: 40px;
    padding-top: 15px;
    font-size: 40px;
}

.icon-link:hover {
    color: rgb(222, 87, 87);
    cursor: pointer;
}


.first {
    display: flex;
    flex-direction: column;
    background-image: url('./assets/hero-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    width: 100%;
    height: 600px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.first-title {
    display: flex;
    justify-content: center;
    font-size: 55px;
    font-weight: 300;
    margin-top: 150px;
}

.first-pargraph {
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 300;
}

.second {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 750px;
    background-color: #FFFFFF;
    position: relative;
}

.title-second {
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 300;
    line-height: 1.4;
    color: #333;
    margin-top: 70px;
}

.second-paragraph {
    justify-content: center;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

.section-part2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.first-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    padding: 15px;
}

.icon {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.icon-paragraph {
    font-size: 16px;
    text-align: center;
}

.view-link {
    font-size: 18px;
    font-weight: 500;
    color: #f15e75;
    text-decoration: none;
    padding-top: 10px;
}

.view-link:hover {
    color: #f33f5a;
}

.icon-title {
    font-size: 20px;
}

.second-col {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.third-col {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.third {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.085);
}

.third>* {
    width: 25%;
    height: 100%;
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.bi-people {
    font-size: 45px;
    color: white;
    margin-bottom: -75px;
}

.count {
    font-weight: 300;
    font-size: 75px;
    color: white;
}

.det {
    color: white;
    font-size: 15px;
    margin-top: -40px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 'Work Sans', sans-serif;
}

.all-icon {
    font-size: 45px;
    color: white;
    margin-bottom: -42px;
}


.fourth {
    width: 100%;
    height: 750px;
    background-color: white;
}

.top {
    background-color: white;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.top-title {
    margin-top: 80px;
    font-weight: 300;
    font-size: 35px;
    color: #242424;
}

.top-parag {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
}

.bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bottom>* {
    width: 27%;
    height: 163px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 1px;
}

.icons {
    font-size: 40px;
    color: #333;
    margin-bottom: 10px;
}

.bottom-title {
    font-weight: 400;
    margin-top: 10px;
    color: #242424;
}

.bottom-pargraph {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-top: -17px;
    color: #242424;
    line-height: 1.5;
}

.fifth {
    width: 100%;
    height: 1750px;
    background-color: white;
}

.top-five {
    background-color: white;
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-top-five {
    font-size: 38px;
    font-weight: 300;
}

.parag-top-five {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.5;
}

.middle-five {
    display: flex;
    flex-direction: column;
}

.middle-five>* {
    width: 100%;
    height: 400px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-middle-five {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 35%;
    height: 100%;
}


.title-left-middle-five {
    font-size: 23px;
    font-weight: 400;
    color: #333;
    margin-top: 30px;
}

.icon-five {
    font-size: 45px;
    color: #f15e75;
}

.parag-left-middle-five {
    font-size: 15px;
    line-height: 1.5;

}

.right-middle-five {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.img-first-middle {
    height: 477px;
    width: 300px;
}

.bottom-five {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.first-bottom-five {
    width: 35%;
    height: 368px;
}

.title-first-bottom {
    font-size: 25px;
    font-weight: 500;
    margin-top: 45px;
    line-height: 1.5;
    color: #333;
}

.parag-first-bottom {
    font-size: 15px;
    line-height: 1.5;
}

.second-bottom-five {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 20%;
}

.second-bottom-five>* {
    margin: 8px;
    margin-left: 15px;
}

.sixth {
    width: 100%;
    height: 870px;
    background-color: #f7f8f9;
}

.top-six {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-top-six {
    font-size: 35px;
    font-weight: 300;
    color: #242424;
    margin-top: 60px;
}

.parag-top-six {
    font-size: 16px;
    margin-top: 5px;
}

.bottom-six {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


.bottom-six>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.2%;
    height: 646px;
}

.card {
    width: 300px;
    height: 540px;
    background-color: white;
    border-radius: 5px;
    transition: .5s;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: -10px;
}

.img-card {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bottom-card {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.link-six {
    color: #f15e75;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.title-card {
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px;
    text-decoration: none;
    color: #242424;
}

.date {
    font-size: 15px;
    color: #3333338f;
}

.parag-card {
    font-size: 15px;
    line-height: 1.5;
}

.name-card {
    font-size: 15px;
    color: #333;
}

.seventh {
    width: 100%;
    height: 1100px;
    background-color: white;
}

.top-seven {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.title-seven {
    color: #242424;
    font-size: 35px;
    font-weight: 300;
}

.parag-seven {
    font-size: 15px;
    line-height: 1.5;
}

.bottom-seven {
    width: 1000px;
    height: 840px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.box-photo {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}


.box-hover {
    width: 25%;
    height: 450px;
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    display: none;
    transition: .3s;
}


.e2 {
    height: 35%;
}

.e4 {
    height: 20%;
}

.e5 {
    margin-top: -70px;
    height: 35%;
}

.e6 {
    height: 20%;
}

.box-icon {
    display: flex;
    flex-direction: row;
    width: 70px;
    justify-content: space-between;

}

.title-img {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 400;
    color: black;
}

.photo {
    max-width: 100%;
    width: 308px;
    border-radius: 7px;
    margin: 10px;
    transition: .5s;
}

.eighth {
    width: 100%;
    height: 800px;
    background-color: #f7f8f9;
}

.top-eighth {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title-top-eighth {
    font-size: 35px;
    font-weight: 300;
    margin-top: 80px;
}

.parag-top-eighth {
    line-height: 1.5;
    font-size: 15px;

}

.bottom-eighth {
    width: 100%;
    height: 545px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom-eighth>* {
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-card {
    width: 90%;
    height: 83%;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(147, 145, 145, 0.2) 0px 2px 8px 0px;
}

.top-card {
    width: 100%;
    height: 140px;
    border-bottom: 1px solid #33333328;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-top-card {
    margin-top: 17px;
    font-size: 17px;
    font-weight: 800;
    color: #FDBA51;
}

.box-size {
    margin-top: -30px;
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.size {
    font-size: 35px;
    color: #242424;
}

.gb {
    font-size: 22px;
    margin-top: 35px;
    font-weight: 400;
    color: #242424;
}

.parag-top-card {
    font-size: 15px;
    margin-top: -5px;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.parag-bottom-card {
    font-size: 16px;
    line-height: 1.6;
}

.price {
    font-size: 35px;
    color: #242424;
    margin-top: 50px;
}

.per-month {
    font-size: 17px;
    margin-top: -25px;
}

.button-buy {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: #FDBA51;
    color: white;
    font-size: 17px;
    cursor: pointer;
    outline: none;
}

.button-buy:hover {
    margin-top: -1px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ninth {
    width: 100%;
    height: 370px;
    background-color: white;
}

.top-nine {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.title-nine {
    font-size: 35px;
    color: #333;
    font-weight: 300;
    margin-top: 70px;
}

.bottom-nine {
    width: 100%;
    height: 248px;
    display: flex;
}

.bottom-nine>* {
    width: 16.5%;
    height: 121px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.logo {
    width: 135px;
    height: 121px;
    transition: .4s;
}

.logo:hover {
    margin-top: -5px;
}

.tenth {
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.147);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-ten {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 15px;
}

.parag-ten {
    font-size: 15px;
}

.creator {
    color: #FC665F;
    margin-left: 5px;
    font-weight: 500;
}

.left-ten {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.end-icons {
    margin: 10px;
    font-size: 20px;
    color: #f15e75;
    transition: 0.3s;
}

.end-icons:hover {
    color: #f33f5a;
}

/* mobile size responsive */

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
        margin: 0;
    }

    .main {
        width: 370px;
    }

    .header {
        height: 50px;
        background-color: #333333a3;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        justify-content: center;
        align-items: center;
    }

    .links>a {
        font-size: 13px;
        font-weight: 500;
        padding: 2px;
        color: white;

    }

    .links>a:hover {
        font-size: 13px;
        color: white;
    }

    .links {
        padding-top: 0;
    }

    .moon-icon {
        font-size: 0px;
        margin-left: -20px;
    }

    .first-title {
        font-size: 40px;
    }

    .first-pargraph {
        font-size: 12px;
        margin-left: 30px;
        margin-right: 30px;
        line-height: 1.8;
    }

    .second {
        height: 1550px;
    }

    .title-second {
        font-size: 25px;
        font-weight: 400;
    }

    .second-paragraph {
        font-size: 12px;
        margin-left: 27px;
        margin-right: 27px;
        line-height: 1.8;
    }

    .section-part2 {
        flex-wrap: wrap;
    }

    .first-col {
        width: 100%;
    }

    .second-col {
        width: 100%;
    }

    .third-col {
        width: 100%;
    }

    .third {
        height: 1000px;
        flex-wrap: wrap;
        padding-bottom: 80px;
    }

    .third>* {
        width: 100%;
        height: 20%;
    }

    .fourth {
        height: 1550px;
    }

    .top {
        height: 20%;
    }

    .top-title {
        font-size: 25px;
        font-weight: 400;
    }

    .top-parag {
        font-size: 13px;
        margin-left: 27px;
        margin-right: 27px;
        line-height: 1.8;
        margin-top: 40px;
    }

    .bottom {
        margin-top: 0;
        height: 77%;
    }

    .bottom>* {
        width: 100%;
        margin-top: 5px;
    }


    .fifth {
        height: 2900px;
    }

    .title-top-five {
        font-size: 23px;
        font-weight: 500;
        line-height: 1.5;
    }

    .parag-top-five {
        margin: 20px;
        line-height: 1.8;
    }

    .middle-five {
        justify-content: center;
        align-items: center;
    }

    .middle-five>* {
        flex-wrap: wrap;
        width: 100%;
        height: 400px;
    }

    .left-middle-five {
        flex-wrap: wrap;
        width: 100%;
        margin-top: 30px;
    }

    .first-bottom-five {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 600px;
    }

    .bottom-five {
        flex-wrap: wrap;
        margin-top: 350px;
        text-align: center;

    }

    .second-bottom-five {
        margin-top: -30px;
        align-items: center;
    }

    .img2 {
        margin-top: 500px;
    }

    .five-second {
        margin-top: 620px;
    }

    .sixth {
        height: 2100px;
    }

    .title-top-six {
        font-weight: 500;
    }

    .parag-top-six {
        text-align: center;
        font-size: 12px;

    }

    .bottom-six {
        flex-direction: column;
        margin-top: 30px;
    }

    .bottom-six>* {
        flex-wrap: wrap;
        width: 100%;
        margin-top: -20px;
    }

    .seventh {
        height: 2100px;
    }

    .title-seven {
        font-size: 25px;
    }

    .parag-seven {
        font-size: 12px;
    }

    .box-photo {
        width: 100%;
    }

    .bottom-seven>* {
        flex-wrap: wrap;
        /* justify-content: center; */
        margin-left: 23px;
    }

    .i5 {
        margin-top: 140px;
        display: none;
    }

    .e5 {
        display: none;
    }

    .box-hover {
        display: none;
    }

    .eighth {
        height: 1800px;
    }

    .title-top-eighth {
        font-weight: 500;
    }

    .parag-top-eighth {
        font-size: 12px;
    }

    .bottom-eighth {
        flex-wrap: wrap;
        margin-top: 80px;
    }

    .bottom-eighth>* {
        width: 100%;
        margin-top: -50px;
    }

    .ninth {
        height: 980px;
    }

    .title-nine {
        font-size: 25px;
        font-weight: 500;
    }

    .bottom-nine {
        flex-wrap: wrap;
    }

    .bottom-nine>* {
        width: 100%;
    }

    .tenth {
        height: 130px;
        flex-direction: column;
    }


    .parag-ten {
        font-size: 12px;
    }

    .left-ten{
        margin: 0 auto;
    }

    .end-icons{
        font-size: 22px;
        margin: 15px;
    }
}